<!-- <h1>Welcome to the {{ game }}</h1>
 -->
<audio id="shortBeep" src="/audio/short_beep.mp3" preload="auto" controls></audio>
<audio id="longBeep" src="/audio/long_beep.mp3" preload="auto" controls></audio>

<div class='topBar clearfix'>
  <div class='timer clearfix'>
    <span ng-show="status===0">Waiting for Player 2</span>
    <span ng-show="status===1">Press Ready</span>
    <span ng-show="status===2" class="count-down">{{ countDown }}</span>
    <span ng-show="status===3">{{minutesString}} : {{secondsString}}</span>
  </div>

  <div class='game-buttons clearfix'>
    <button class="btn btn-primary" ng-click='startGame()' ng-disabled='gameStarted'>Ready!</button>
    <button class="btn btn-primary" ng-click='runCode()' ng-disabled='!gameStarted'>Test your Code</button>
    <button class="btn btn-primary" ng-click='submitCode()' ng-disabled='!gameStarted'>Submit Code</button>

  <!--   <button class="btn btn-primary" ng-click='setMode("windows")'>Normal Mode</button>
    <button class="btn btn-primary" ng-click='setMode("vim")'>Vim Mode</button>
    <button class="btn btn-primary" ng-click='setMode("emacs")'>Emacs Mode</button> -->
    <button class="btn btn-primary" ng-click='increaseFont()'>+ Font Size</button>
    <button class="btn btn-primary" ng-click='decreaseFont()'>- Font Size</button>
  </div>
</div>
<!-- <input type="radio" name="group1" value="Normal" onclick="editor.setKeyboardHandler('')" checked>Normal
<input type="radio" name="group1" value="Vim" onclick="editor.setKeyboardHandler('ace/keyboard/vim')">Vim
<input type="radio" name="group1" value="Emacs" onclick="editor.setKeyboardHandler('ace/keyboard/emacs')">Emacs
 -->
<div class='clearfix IDE'>
  <div id="player" class="full-row">// Write your Code here!</div> 
  <div id="opponent" class="full-row">// Write your Code here!</div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="foot">
    <span class="white console">Console:</span>
  </div>
</nav>

