<h1>Welcome to {{ welcome }}</h1>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary" ng-click='new()'>
    <input type="radio" name="options" > New Game
  </label>
  <label class="btn btn-primary" ng-click='join()'>
    <input type="radio" name="options"> Join Game
  </label>
</div>

<div class="new-game">
  <a class="btn btn-hg btn-primary" ng-click='newGame()'>Start!</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
<div class="row">


  <div class='col-md-6'>
    <div class='master clearfix'>
      <p>Are you a JS master?</p> 
      <p>Then prove it by beating your friend in an EPIC JS battle!</p>
    </div>
  </div>

  <div class='col-md-6'>
    <div class='novice clearfix'>
      <p>Are you a novice programmer?</p> 
      <p>There's no better place to learn than on the battle field!</p>
    </div>
  </div>
  </div>
</div>
</nav>
