<h1>Welcome to {{ welcome }}</h1>

<div class="new-game">
  <a class="btn btn-hg btn-primary" ng-click='newGame()'>Start!</a>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
<div class="row">


  <div class='col-md-6'>
    <div class='master clearfix'>
      <p>Are you a JS master? Then prove it by beating your friend in an EPIC JS battle!</p>
    </div>
  </div>

  <div class='col-md-6'>
    <div class='novice clearfix'>
      <p>Or just a novice programmer? There's no better way to learn than on the stomping ground!</p>
    </div>
  </div>
  </div>
</div>
</nav>
