<h1>Welcome to {{ welcome }}</h1>

<!-- <div class='checker'>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary" ng-click='new()'>
      <input type="radio" name="options" checked > New Game
    </label>
    <label class="btn btn-primary" ng-click='join()'>
      <input type="radio" name="options"> Join Game
    </label>
  </div>
</div> -->

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
<div class="row">

<div class='new-game-div'>
  <a class="btn btn-primary" ng-click="newGame();">New Game</a>
</div>

<div ng-controller="AvailableGamesController" class="available-games-div">
  <div ng-repeat="game in availableGames track by $index">
    <span>Game #{{ $index }}</span>
    <span class="gameID">Game Name: {{ game[3] }}</span>
    <span>{{game[1]}} number of players</span>
    <span>{{game[2]}} number of watchers</span>
    <a href="http://localhost:3000/game/{{game[0]}}" ng-show="game[1] < 2">Join</a>
    <span ng-hide="game[1] < 2">Full</span>
    <a href="http://localhost:3000/watch/{{game[0]}}">Watch</a>
  </div>
</div>


  <div class='col-md-6'>
    <div class='master clearfix'>
      <p>Are you a JS master?</p> 
      <p>Then prove it by beating your friend in an EPIC JS battle!</p>
    </div>
  </div>

  <div class='col-md-6'>
    <div class='novice clearfix'>
      <p>Are you a novice programmer?</p> 
      <p>There's no better place to learn than on the battle field!</p>
    </div>
  </div>
  </div>
</div>
</nav>
