<div id="watch-container">
  <div class='topBar clearfix'>
    <div class="watchMessage">Welcome to Watch View</div>
  </div>

  <div class="container-fluid">
  <div class="row"> 
  <pre id="player1">// Write your Code here!</pre>
      
  <pre id="player2">// Write your Code here!</pre>
  </div>
  </div>

</div>


<div id='chat'>
  <div class='message-input-div'>
    <form ng-submit='sendMessage()'>
      <input type='text' ng-model='text' placeholder='Message' class='messageInput'>
    </form>
  </div>

  <div class='messagesDisplay'>
    <ul>
      <li ng-repeat="message in messages">Ray:  {{message.text}}</li>
    </ul>
  </div>
</div>